<template name="tile">
	<div class="tile">
		<div class="timerrow row">
			<input class="col-xs-4 col-xs-offset-1" type="text" name="title" placeholder="title" autocomplete="off">
			<div class="col-xs-4 col-xs-offset-1 timeunit">
				<span class="timeFormatted">
					<p class="hourField">{{getHours}}h</p>
					<p class="minuteField">{{getMinutes}}m</p>
					<p class="secondField">{{getSeconds}}s</p>
				</span>
					
				<input type="text" name="duration" class="duration" autocomplete="off">
			</div>
			<button class="removeTile">
				<i class="fa fa-minus"></i>
			</button>
		</div>
	</div>
</template>